@import url("https://fonts.googleapis.com/css?family=Raleway|Allura|Dancing+Script|Kalam");
/* @import url('https://fonts.googleapis.com/css?family=Fjalla+One|KoHo|Merienda|Monda|Noto+Sans+JP|Noto+Sans+KR|Pontano+Sans|Poppins|Rubik|Tajawal');*/ 

/*
@import url("https://fonts.googleapis.com/css?family=Allura|Dancing+Script|Indie+Flower|Open+Sans|Open+Sans+Condensed:300|Poppins|Raleway|Roboto+Condensed|Kalam");*/

/* -------------------------VARIABLES-----------------------------  */

:root {
  /* fonts */
  --font-default: "Raleway", sans-serif;
  --font-heading: "Allura", cursive;
  --font-heading2: "Open Sans Condensed:300", sans-serif;
  --font-heading3: "Roboto Condensed", sans-serif;
  --font-heading4: "Dancing Script", cursive;
  --font-heading5: "Indie Flower", cursive;
  --font-heading6: "Open Sans", sans-serif;
  --font-heading7: "Poppins", sans-serif;
  --font-heading8: "Kalam", cursive;


 /* --font-heading: 'Dancing Script', cursive;*/
  /* --font-heading: "Lilita One", cursive; */

 /* font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Allura', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Indie Flower', cursive;*/


  /* font-family: 'Poppins', sans-serif;  ok
font-family: 'Rubik', sans-serif;
font-family: 'Fjalla One', sans-serif;   ok
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'KoHo', sans-serif;
font-family: 'Monda', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Tajawal', sans-serif; */

  /* Colors */
  --color-green: #084e3f;
  --color-red: #ff5b5e;
  --color-deep-blue: #28313b;
  --color-light-grey: #97a4b1;
  --color-mid-grey: #3a383b;
  --color-mid-blue: #34495e;
  --color-almost-white: #e8eef4; 
  --color-almostish-white: #dfe2dd; 
   /*--color-almost-white: #cfced0;*/
  --color-purple: #750088;
  --color-darkgrey: #222023;
  --color-bitlightergrey: #222023;

  /* abstract colors out */
  --main-text-color: var(--color-mid-blue);
  --strong-text-color: var(--color-deep-blue);
  --alternative-text-color: var(--color-almost-white);
  --error-color: var(--color-red);
  --border-color: var(--color-light-grey);

  --secondary-bg-color: var(--color-almost-white);
  --secondary-bg-color-blendaccent: var(--color-almostish-white);
  --alternative-bg-color: var(--color-darkgrey);
  --alternative-bg-color-blendaccent: var(--color-mid-grey);

  /* measurements*/
  --padder: 3%;
  --largepadder: 6%;
  --smallpadder: 1%;
  --extrasmallpadder: 0.2%;
  --headerpadder: 0.75%;
  --spacer: 20px;
  --spacer-large: 80px;
  --spacer-medium: 40px;
  --spacer-small: 10px;
  --transition-time: 0.3s;

  --area-wide: 1200px;
  --area-mid: 800px;

  /* font sizes */
  --font-size-site-title: 32px;
  --font-size-page-title: 40px;
  --font-size-section-title: 30px;
  --font-size-sub-title: 24px;
  --font-size-heading-small: 16px;
  --font-size-menu-nav: 16px;
}

@media screen and (min-width: 1030px) {
  :root {
    /* font sizes for desktop */
    --font-size-site-title: 54px;
    --font-size-page-title: 80px;
    --font-size-section-title: 36px;   /* was 48 */ 

    /* measurements*/
    --padder: 2%;
  }
}

/* -------------------------GLOBAL DEFAULTS-----------------------------  */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.3px; 
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* -------------------------HEADINGS AND TYPE-----------------------------  */

h1 {
  font-family: var(--font-heading);
  font-weight: normal;
  color: var(--strong-text-color);
  
  
}


h2,
h3,
h4 {
  font-family: var(--font-heading2);
  font-weight: bold;
  color: var(--strong-text-color);
  
}

h1 {
  font-size: var(--font-size-page-title);
}

h2 {
  font-size: var(--font-size-section-title);
  text-align: center;
  padding-top: var(--padder);
 
  
}

h3 {
  font-size: var(--font-size-sub-title);
}

a {
  color: var(--error-color);
  transition: var(--transition-time);
}

a:hover {
  color: var(--strong-text-color);
}

.accent-text {
  font-style: italic; 
  
  
}

p.price {
  color: rgb(55, 60, 66);
  
  font: var(--font-heading);
  font-size: 20px;
  font-style: italic;
  
  text-align-last: right;
  padding: 0px;
}


/* heading border */
hr {
  border: 0.5px solid var(--strong-text-color);
 /* border-radius: 1px;*/
 display: block;
 margin-top: 0.5cm;
 margin-bottom: 0.0cm;
 margin-left: auto;
 margin-right: auto;
 border-style: inset;
 border-width: 0.5px;}



 
 .hline-bottom {
  padding-bottom: 10px;
  border-bottom: 0.5px solid var(--strong-text-color); /* whichever color you prefer */
}

/* -------------------------LAYOUTS-----------------------------  */

.layout-wide,
.layout-full-width {
  /*-- margin-bottom: var(--spacer-large); hidden when trying to fix floating window issue*/
  margin-bottom: 0px;
}

.layout-full-width {
  width: 100%;
  background: var(--color-almost-white);
}

.layout-wide {
  max-width: var(--area-wide);
  padding-left: var(--padder);
  padding-right: var(--padder);
  margin-left: auto;
  margin-right: auto;
  
 
}

.layout-wide-over1 {
  max-width: 100%;
  padding-left: var(--padder);
  padding-right: var(--padder);
  margin-left: auto;
  margin-right: auto;
  background: white;
  position: sticky;
  padding-bottom: 10pt;
  padding-top:10pt;

  
  z-index: 1;

}

.layout-wide-outer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding-bottom: 10pt;

/*-------confusing bit added in here ---------*/

}


.layout-wide-toppadded {
  padding-top: 20pt;
}


.layout-mid {
  margin-bottom: var(--spacer-large);
  max-width: var(--area-mid);
  padding-left: var(--padder);
  padding-right: var(--padder);
  margin-left: auto;
  margin-right: auto;
}
/* -------------------------HEADER-----------------------------  */

header {
  background-color: var(--alternative-bg-color);
  padding-top: var(--padder);
}

header .layout-wide {
  overflow: hidden;
  margin-bottom: 0px;
}

.logo-wrapper {
  width: 100%;
  /*--margin-left: auto;
  margin-right: auto;*/
}


.cta-ribbon {
  overflow: hidden;
  width: 100%;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--alternative-bg-color-blendaccent);
  padding-bottom: var(--extrasmallpadder);
  padding-top: var(--extrasmallpadder);
  color: var(--alternative-text-color);
  text-align: center;

}

.cta-button {
  margin: 3px;
  background-color: var(--alternative-bg-color); /* #750088; */
  /*background-color: rgb(132, 34, 145); */
  border: none;
  color: white;
  padding: 2px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-style: italic;


 /*-- color: var(--alternative-text-color);
  font-family: var(--font-default);
  text-transform: uppercase;
  background: var(--alternative-bg-color);  --*/
  border-radius: 40px;
  padding: 5 px;
  border: none;

  transition: var(--transition-time);
  display: inline-block;
  
}

.cta-main {
  overflow: hidden;
  width: 100%;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

}

.cta-button-main {
  
  margin: 3px;
  background-color: var(--alternative-bg-color);
  border: none;
  color: var(--alternative-text-color);
  padding: 10px 45px;
  text-align: center;
  font-weight: bolder;
  text-decoration: none ;
  font-size: 20px;
  font-style: italic;

  border-radius: 0px;
  padding: 5 px;
  border: none;

  transition: var(--transition-time);
  display: inline-block;
  
}

.cta-button:hover {
 
    color: var(--error-color);
    font-weight: bold;
    background-color: var(--alternative-bg-color);  /* #411748; */
    border-bottom-color: currentColor;
    
  
}

.cta-button-main:hover {
 
  color: var(--error-color);
  font-weight: bold;
  border-bottom-color: currentColor;

}


.cta-ribbon ul {
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  
}

@media screen and (max-width: 800px) {
  .cta-ribbon ul {
    display: block;
  }
}

.cta-ribbon a {
  color: var(--alternative-text-color);
  text-decoration: none;
}

.phonenum:hover,
.emaillink:hover {       /*----- this bit was troublesome, think is ook now  -----*/
 
  color: var(--error-color);
  text-decoration: underline;
  border-bottom-color: currentColor;

}

.cta-ribbon a:hover {
  color: var(--error-color);
  text-decoration: none;
}


.contentlink {
  overflow: hidden;
  width: 100%;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

}


.contentlinkbutton {
  margin: 3px;
  background-color: var(--secondary-bg-color-blendaccent);     /* rgb(245, 244, 241);*/
  
  color: var(--alternative-bg-color);
  padding: 10px 45px;
  text-align: center; 
  font-weight: bolder;
  text-decoration: none ;
  font-size: 20px;
  font-style: italic;

  border-radius: 0px;
  padding: 5 px;

  border: 1px solid var(--border-color);

  transition: var(--transition-time);
  display: inline-block;
 /* position: float;
  text-align: center;  */
}

.contentlinkbutton:hover {
  background-color: var(--secondary-bg-color-blendaccent);

  color: var(--error-color);
  font-weight: bold;
  
}

.contentlinkbutton a {
  color: var(--alternative-bg-color);
  text-decoration: none ;
}

.contentlinkbutton a:hover {
  color: var(--error-color);
  text-decoration: none ;

}


@media screen and (min-width: 1030px) {
  .logo-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-title {
  font-family: var(--font-heading);
  font-size: var(--font-size-site-title);
  color: var(--alternative-text-color);

  float: right;
  width: 80%;
  text-align: right;
}

/* -------------------------NAVIGATION-----------------------------  */

.navigation {
  background-color: var(--alternative-bg-color);
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: var(--font-size-menu-nav)
}

.nav-prompt {
  width: 100%;
  background-color: var(--alternative-bg-color);
  padding-top: var(--smallspacer);  /*dddd*/
  padding-bottom: var(--smallspacer);   /*dddd*/
  color: var(--alternative-text-color);  
  border: none;
  border-top: 1px solid black;
}

.nav-inner {
  margin-bottom: 0px;  /*was 10*/
}

.nav-inner ul {
  padding: 0px;  /*was 10*/
  margin: 0px;
  list-style: none;
}

.nav-inner li {
  text-align: left;  /*changed from center to left so the mobile drop down separates the sub menu better*/
}

.nav-inner a {
  color: var(--alternative-text-color);
  text-decoration: none;
  text-transform: uppercase;
  padding: var(--smallspacer) 1px;
 /* border-bottom: 1px solid var(--alternative-text-color); */

  display: block;
}



.nav-inner a:hover {
  color: var(--error-color);
  /*border-bottom-color: currentColor;*/   /* turned off the red underline on hover to match drop down */
 
}

@media screen and (min-width: 1030px) {
  .nav-prompt {
    display: none;
  }

  .navigation {
    padding: var(--headerpadder);
  }

  .nav-inner ul {
    display: flex;
    justify-content: space-between;
  }

  .nav-inner a {
    border-bottom: 2px solid transparent;
  }
}


/* dropdown coding - testing */   

/*  THIS SHOULD BE CHANGED TO MOBILE FIRST  */

/* Dropdown Button */


.dropbtn {
  background-color: var(--alternative-bg-color);
  color: var(--alternative-text-color);
 /*
  padding: var(--smallspacer); 
  font-size: 16px;
  */
  border: none;
  margin-bottom: 0px;
  text-transform: uppercase;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: var(--color-almost-white);
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--main-text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  transition: var(--transition-time);
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  transition: var(--transition-time);
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
 /* background-color: var(--color-mid-grey); */

  /*change colour to match other menu items hover behaviour */
  color: var(--error-color);
  font-weight: bold;
  border-bottom-color: currentColor;
  transition: var(--transition-time);

}
/* first dropdown end */

/* Dropdown Button */
.dropbtn1 {
  background-color: var(--alternative-bg-color);
  color: var(--alternative-text-color);
 /*
  padding: var(--smallspacer); 
  font-size: 16px;
  */
  border: none;
  margin-bottom: 0px;
  text-transform: uppercase;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown1-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: var(--color-almost-white);
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown1-content a {
  color: var(--main-text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown1-content a:hover {
  transition: var(--transition-time);
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown1-content {
  transition: var(--transition-time);
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1 {
 /* background-color: var(--color-mid-grey); */

  /*change colour to match other menu items hover behaviour */
  color: var(--error-color);
  font-weight: bold;
  border-bottom-color: currentColor;
  transition: var(--transition-time);

}
/*end 1 */

/* Dropdown Button */
.dropbtn2 {
  background-color: var(--alternative-bg-color);
  color: var(--alternative-text-color);
 /*
  padding: var(--smallspacer); 
  font-size: 16px;
  */
  border: none;
  margin-bottom: 0px;
  text-transform: uppercase;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown2-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: var(--color-almost-white);
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown2-content a {
  color: var(--main-text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown2-content a:hover {
  transition: var(--transition-time);
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown2-content {
  transition: var(--transition-time);
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn {
 /* background-color: var(--color-mid-grey); */

  /*change colour to match other menu items hover behaviour */
  color: var(--error-color);
  font-weight: bold;
  border-bottom-color: currentColor;
  transition: var(--transition-time);

}

/* end 2 */

/* Dropdown Button */
.dropbtn3 {
  background-color: var(--alternative-bg-color);
  color: var(--alternative-text-color);
 /*
  padding: var(--smallspacer); 
  font-size: 16px;
  */
  border: none;
  margin-bottom: 0px;
  text-transform: uppercase;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown3 {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown3-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: var(--color-almost-white);
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown3-content a {
  color: var(--main-text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown3-content a:hover {
  transition: var(--transition-time);
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown3:hover .dropdown3-content {
  transition: var(--transition-time);
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown3:hover .dropbtn3 {
 /* background-color: var(--color-mid-grey); */

  /*change colour to match other menu items hover behaviour */
  color: var(--error-color);
  font-weight: bold;
  border-bottom-color: currentColor;
  transition: var(--transition-time);

}

/* end 3 */

/* Dropdown Button */
.dropbtn4 {
  background-color: var(--alternative-bg-color);
  color: var(--alternative-text-color);
 /*
  padding: var(--smallspacer); 
  font-size: 16px;
  */
  border: none;
  margin-bottom: 0px;
  text-transform: uppercase;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown4 {
  position: relative;
  display: inline-block;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown4-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: var(--color-almost-white);
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown4-content a {
  color: var(--main-text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown4-content a:hover {
  transition: var(--transition-time);
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown4:hover .dropdown4-content {
  transition: var(--transition-time);
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown4:hover .dropbtn4 {
 /* background-color: var(--color-mid-grey); */

  /*change colour to match other menu items hover behaviour */
  color: var(--error-color);
  font-weight: bold;
  border-bottom-color: currentColor;
  transition: var(--transition-time);

}
 
/* end 4 */

/* end dropdown coding testing */


@media screen and (max-width: 1030px) {

    .nav-inner {
        overflow: hidden;
        transition: var(--transition-time);


    }

    .nav-inner[aria-expanded="false"] {
        max-height: 0;
    }

    .nav-inner[aria-expanded="true"] {
        max-height: 100vh;
    }


    /* dropdown for mobile coding testing  */

   

  /*copied from above*/
    /* Dropdown Content (Hidden by Default) */

   
    .dropdown-content {
      overflow: hidden;
      transition: var(--transition-time);

      display: block;   /*changed to block from none when hiding without hover or click*/
      position: relative;
      left: 20px;
      right: float;
     
     
      text-align: left;
      background-color: var(--color-mid-grey);

      color: var(--alternative-text-color);  
      border: none;
      min-width: 400px; 
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
      

    .dropdown1-content {
      overflow: hidden;
      transition: var(--transition-time);

      display: block;   /*changed from none when hiding without hover or click*/
      position: relative;
      left: 20px;
      right: float;
     
     
      text-align: left;
      background-color: var(--color-mid-grey);

      color: var(--alternative-text-color);  
      border: none;
      min-width: 400px; 
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    
    .dropdown2-content {
      overflow: hidden;
      transition: var(--transition-time);

      display: block;   /*changed from none when hiding without hover or click*/
      position: relative;
      left: 20px;
      right: float;
     
     
      text-align: left;
      background-color: var(--color-mid-grey);

      color: var(--alternative-text-color);  
      border: none;
      min-width: 400px; 
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    
    .dropdown3-content {
      overflow: hidden;
      transition: var(--transition-time);

      display: block;   /*changed from none when hiding without hover or click*/
      position: relative;
      left: 20px;
      right: float;
     
     
      text-align: left;
      background-color: var(--color-mid-grey);

      color: var(--alternative-text-color);  
      border: none;
      min-width: 400px; 
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    
    .dropdown4-content {
      overflow: hidden;
      transition: var(--transition-time);

      display: block;   /*changed from none when hiding without hover or click*/
      position: relative;
      left: 20px;
      right: float;
     
     
      text-align: left;
      background-color: var(--color-mid-grey);

      color: var(--alternative-text-color);  
      border: none;
      min-width: 400px; 
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /*   this next bit is for interactive menu on mobile  */







    

    .dropdown-content {
      overflow: hidden;
      transition: var(--transition-time);
  }

  .dropdown-content[aria-expanded="false"] {
      max-height: 0;
  }

  .dropdown-content[aria-expanded="true"] {
      max-height: 100vh;
  }

  .dropdown1-content {
    overflow: hidden;
    transition: var(--transition-time);
}

.dropdown1-content[aria-expanded="false"] {
    max-height: 0;
}

.dropdown1-content[aria-expanded="true"] {
    max-height: 100vh;
}

.dropdown2-content {
  overflow: hidden;
  transition: var(--transition-time);
}

.dropdown2-content[aria-expanded="false"] {
  max-height: 0;
}

.dropdown2-content[aria-expanded="true"] {
  max-height: 100vh;
}

.dropdown3-content {
  overflow: hidden;
  transition: var(--transition-time);
}

.dropdown3-content[aria-expanded="false"] {
  max-height: 0;
}

.dropdown3-content[aria-expanded="true"] {
  max-height: 100vh;
}

.dropdown4-content {
  overflow: hidden;
  transition: var(--transition-time);
}

.dropdown4-content[aria-expanded="false"] {
  max-height: 0;
}

.dropdown4-content[aria-expanded="true"] {
  max-height: 100vh;
}
         

/* Links inside the dropdown */


    .dropdown-content a {
      color: var(--alternative-text-color);
      padding-top: var(--smallspacer);  /*dddd*/
      padding-bottom: var(--smallspacer);   /*dddd*/
      
      font-style: italic;
      text-transform: capitalize;
      /*display: block;*/
    }

    
    .dropdown1-content a {
      color: var(--alternative-text-color);
      padding-top: var(--smallspacer);  /*dddd*/
      padding-bottom: var(--smallspacer);   /*dddd*/
      
      font-style: italic;
      text-transform: capitalize;
      /*display: block;*/
    }

    
    .dropdown2-content a {
      color: var(--alternative-text-color);
      padding-top: var(--smallspacer);  /*dddd*/
      padding-bottom: var(--smallspacer);   /*dddd*/
      
      font-style: italic;
      text-transform: capitalize;
      /*display: block;*/
    }

    
    .dropdown3-content a {
      color: var(--alternative-text-color);
      padding-top: var(--smallspacer);  /*dddd*/
      padding-bottom: var(--smallspacer);   /*dddd*/
      
      font-style: italic;
      text-transform: capitalize;
      /*display: block;*/
    }

    
    .dropdown4-content a {
      color: var(--alternative-text-color);
      padding-top: var(--smallspacer);  /*dddd*/
      padding-bottom: var(--smallspacer);   /*dddd*/
      
      font-style: italic;
      text-transform: capitalize;
      /*display: block;*/
    }


    /* end dropdown for mobile coding testing */

    
}

.nav-inner .active {
    border-bottom-color: currentColor;
    font-weight: bold;
}

.buttonlink {
    color: var(--alternative-text-color);

    background: var(--alternative-bg-color); 
    border-radius: 40px;
    padding: var(--spacer);
    border: none;
 
   padding: var(--smallspacer) 1px;
    /*border-bottom: 5px solid var(--alternative-text-color);*/
    transition: var(--transition-time);
    width: 240px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
}

.buttonlink a {
  
    color: var(--alternative-text-color);
    /*font-family: var(--font-heading);*/
    text-transform: uppercase;
    text-decoration: none;
    background: var(--alternative-bg-color); 
    
    padding: var(--spacer);
    border: none;
 
   padding: var(--smallspacer) 1px;
    border-bottom: 1px solid var(--alternative-bg-color);
    transition: var(--transition-time);
    width: 20%;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
  
}

.buttonlink a:hover {
  color: var(--error-color);
  border-bottom-color: currentColor;
}


/* -------------------menu bar-----------------  */ 
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: var(--alternative-text-color);
  margin: 4px 0;
  transition: 0.4s;
}




/* -------------------------FOOTER-----------------------------  */

footer {
  background-color: var(--alternative-bg-color);
}

.footer-subscribe {
  background-color: var(--secondary-bg-color);
  padding-top: var(--spacer-medium);
  padding-bottom: var(--spacer-small);
  text-align: center;
}

.footer-gallery-shortcuts {
  background-color: var(--secondary-bg-color);
  padding-top: var(--spacer-medium);
  padding-bottom: var(--spacer-small);
  text-align: center;
}

.footer-notices {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
}

.footer-notices .layout-wide {
  margin-bottom: 0;
  text-align: center;
}

i.fab {
  color: var(--alternative-text-color); 


}


.copyright {
  color: white;
}

/* -------------------------FORMS-----------------------------  */

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  margin-bottom: var(--spacer);
  border: 1px solid var(--border-color);
  padding: 10px;
  width: 480px;
  max-width: 100%;
  border-radius: 4px;
}

input[type="submit"] {
  color: var(--alternative-text-color);
  font-family: var(--font-default);
  text-transform: uppercase;
  background: var(--alternative-bg-color);
  border-radius: 0px;
  padding: 10 px 45px;
  border: none;


  transition: var(--transition-time);
}

input[type="submit"]:hover {
  background-color: var(--strong-text-color);
}

.indicates-required {
  margin-bottom: 10px;
}

/* -------------------------MODULES-----------------------------  */


@media screen and (min-width: 1030px) {
    
    .hero-module {
        position: relative;   
        /* position: sticky;*/
        top: -40px;
        z-index: 9;
               /* position: sticky;
        top: 0;
        z-index: 10;*/
    }

    .hero-module img {
        width: 100%;

    }

    .hero-content {
        position: absolute; 
        height: 50%;
        width: 100%;

        bottom: 0;

        display: flex;
        align-items: center;
    }

    .heading-main {
        color: var(--alternative-text-color); 
        text-shadow: 0px 1px 25px var(--strong-text-color);
    }


    .layout-wide img {
      width:100%
    }

    .logo-wrapper {
      align-items: center;
      width: 40%;

    }

    .logo-wrapper img {
      width:100%;
      
    }
/*-- this next bit is shit cos I don't know what im doing
    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      align-items: center;
    }
*/ 


}


/* --------------------grids------------------------ */

@media screen and (min-width: 800px) {
    .content-area-grid {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }
}


@media screen and (min-width: 800px) {
  .content-area-grid-2 {
      display: grid;
      grid-template-columns: 28% 28% 28%;
      justify-content: space-between;
  }
}

@media screen and (min-width: 800px) {
  .content-area-grid-3 {
      display: grid;
      grid-template-columns: 24% 24% 24% 24%;
      justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .content-area-grid-3 {
      display: grid;
      grid-template-columns: 48% 48%;
      justify-content: space-between;
  }
}




/* --------------------image gallery------------------------ */


.image-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;


    overflow: hidden;
}


.image-gallery li {

    float: left;
    max-width: 150px;
    margin: 10px;
}


.image-gallery a img {

    filter: grayscale(20%); 
    transition: var(--transition-time);
    box-shadow: 0px 1px 10px var(--strong-text-color);

}

.image-gallery a:hover img {
    transform: scale(1.1);
    filter: unset;
}



@media screen and (min-width: 800px) {

  .image-gallery li {

    float: left;
    max-height: 250px;
    max-width: 250px;
    margin: 10px;
  }

}



/*-----------------image behaviour------------------*/




.hero-module {
  width: 100%;  overflow: hidden;
  position: sticky;

  top: 0;
  z-index: 1;
}




.hero-module-2 {
  width: 100%;  overflow: hidden;
  position: sticky;

  top: 0;
  z-index: 2;
}



.hero-module-3 {
  width: 100%;  overflow: hidden;
  position: sticky;

  top: 0;
  z-index: 2;
}



/*
.navigation {
  background-color: var(--alternative-bg-color);
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: var(--font-size-menu-nav)
}
*/

/* --------------------gallery index------------------------ */


.image-index ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 12;


  overflow: hidden;
}


.image-index li {

  float: left;
  max-width: 150px;
  margin: 10px;
}


.image-index a img {

  filter: grayscale(20%); 
  transition: var(--transition-time);
  box-shadow: 0px 1px 10px var(--strong-text-color);

}

.image-index a:hover img {
  transform: scale(1.1);
  filter: unset;
}


@media screen and (min-width: 800px) {

  .image-index li {

    float: left;
    max-width: 3000px;
    margin: 10px;
  }

}







/* --------------------gallery index footer------------------------ */


.image-index-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 12;

  overflow: hidden;
}


.image-index-footer li {

  float: left;
  max-width: 50px;
  margin: 10px;
  
}


.image-index-footer a img {

  filter: grayscale(20%); 
  transition: var(--transition-time);
  box-shadow: 0px 1px 10px var(--strong-text-color);

}

.image-index-footer a:hover img {
  transform: scale(1.1);
  filter: unset;
}


.image-index-footer a {
  text-decoration: #750088
}

@media screen and (min-width: 800px) {

  .image-index-footer li {

    float: left;
    
    max-width: 100px;
    margin: 10px;
  }

}



/* --------------------grid list pricelist------------------------ */


.content-area-grid-2 li {
  list-style: none;
  margin: -10px;
  padding: 0;
}

/* ----------------------- home page style links ----------------*/

.image-linker a img {

  filter: grayscale(2%); 
  transition: var(--transition-time);
  box-shadow: 0px 1px 10px var(--strong-text-color);

}

.image-linker a:hover img {
  transform: scale(1.1);
  filter: unset;
}




/* --------------------blog test stuff------------------------ */

/* page Content */
#content {
  display: block;
  clear: both;
  margin-bottom: 20px;
  min-height: 500px;
}

#left-sidebar {
  width: 35%;
  float: left;
  margin: 0 15px;
  background: #ccc; 
  min-height: 500px; 
  text-align: center;
}
#right {
  float: right;
  width: 62%;
  background: #efefef; 
  text-align: center;
  min-height: 500px;
}


/*---------------------------------- pricing table ----------------------- */

* {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: rgb(132, 34, 145);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 800px) {
  .columns {
    width: 100%;
  }
}



/*---------------pricing table-------------*/


th, td {
  padding: 2px;
  text-align: left;
}




