@import url("https://fonts.googleapis.com/css?family=Raleway|Allura|Dancing+Script|Kalam");
/* @import url('https://fonts.googleapis.com/css?family=Fjalla+One|KoHo|Merienda|Monda|Noto+Sans+JP|Noto+Sans+KR|Pontano+Sans|Poppins|Rubik|Tajawal');*/ 

/*
@import url("https://fonts.googleapis.com/css?family=Allura|Dancing+Script|Indie+Flower|Open+Sans|Open+Sans+Condensed:300|Poppins|Raleway|Roboto+Condensed|Kalam");*/

/* -------------------------VARIABLES-----------------------------  */

:root {
  /* fonts */
  --font-default: "Raleway", sans-serif;
  --font-heading: "Allura", cursive;
  --font-heading2: "Open Sans Condensed:300", sans-serif;
  --font-heading3: "Roboto Condensed", sans-serif;
  --font-heading4: "Dancing Script", cursive;
  --font-heading5: "Indie Flower", cursive;
  --font-heading6: "Open Sans", sans-serif;
  --font-heading7: "Poppins", sans-serif;
  --font-heading8: "Kalam", cursive;


 /* --font-heading: 'Dancing Script', cursive;*/
  /* --font-heading: "Lilita One", cursive; */

 /* font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Allura', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Indie Flower', cursive;*/


  /* font-family: 'Poppins', sans-serif;  ok
font-family: 'Rubik', sans-serif;
font-family: 'Fjalla One', sans-serif;   ok
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'KoHo', sans-serif;
font-family: 'Monda', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Tajawal', sans-serif; */

  /* Colors */
  --color-green: #084e3f;
  --color-red: #ff5b5e;
  --color-deep-blue: #28313b;
  --color-light-grey: #97a4b1;
  --color-mid-blue: #34495e;
  --color-almost-white: #e8eef4; 
   /*--color-almost-white: #cfced0;*/
  --color-purple: #750088;
  --color-darkgrey: #222023;

  /* abstract colors out */
  --main-text-color: var(--color-mid-blue);
  --strong-text-color: var(--color-deep-blue);
  --alternative-text-color: var(--color-almost-white);
  --error-color: var(--color-red);
  --border-color: var(--color-light-grey);

  --secondary-bg-color: var(--color-almost-white);
  --alternative-bg-color: var(--color-darkgrey);

  /* measurements*/
  --padder: 3%;
  --largepadder: 6%;
  --smallpadder: 1%;
  --spacer: 20px;
  --spacer-large: 80px;
  --spacer-medium: 40px;
  --spacer-small: 10px;
  --transition-time: 0.3s;

  --area-wide: 1200px;
  --area-mid: 800px;

  /* font sizes */
  --font-size-site-title: 32px;
  --font-size-page-title: 40px;
  --font-size-section-title: 30px;
  --font-size-sub-title: 24px;
  --font-size-heading-small: 16px;
  --font-size-menu-nav: 16px;
}

@media screen and (min-width: 1030px) {
  :root {
    /* font sizes for desktop */
    --font-size-site-title: 54px;
    --font-size-page-title: 80px;
    --font-size-section-title: 36px;   /* was 48 */ 

    /* measurements*/
    --padder: 2%;
  }
}

/* -------------------------GLOBAL DEFAULTS-----------------------------  */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.8;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* -------------------------HEADINGS AND TYPE-----------------------------  */

h1 {
  font-family: var(--font-heading);
  font-weight: normal;
  color: var(--strong-text-color);
  
  
}


h2,
h3,
h4 {
  font-family: var(--font-heading8);
  font-weight: normal;
  color: var(--strong-text-color);
  
}

h1 {
  font-size: var(--font-size-page-title);
}

h2 {
  font-size: var(--font-size-section-title);
  text-align: center;
  padding-top: var(--largepadder);
 
  
}

h3 {
  font-size: var(--font-size-sub-title);
}

a {
  color: var(--error-color);
  transition: var(--transition-time);
}

a:hover {
  color: var(--strong-text-color);
}

.accent-text {
  font-style: italic; 
  
  
}

p.price {
  color: rgb(55, 60, 66);
  
  font: var(--font-heading);
  font-size: 20px;
  font-style: italic;
  
  text-align-last: right;
  padding: 0px;
}


/* heading border */
hr {
  border: 0.5px solid var(--strong-text-color);
 /* border-radius: 1px;*/
 display: block;
 margin-top: 0.5em;
 margin-bottom: 0.5em;
 margin-left: auto;
 margin-right: auto;
 border-style: inset;
 border-width: 0.5px;}



 
 .hline-bottom {
  padding-bottom: 10px;
  border-bottom: 0.5px solid var(--strong-text-color); /* whichever color you prefer */
}

/* -------------------------LAYOUTS-----------------------------  */

.layout-wide,
.layout-full-width {
  margin-bottom: var(--spacer-large);
}

.layout-full-width {
  width: 100%;
  background: var(--color-almost-white);
}

.layout-wide {
  max-width: var(--area-wide);
  padding-left: var(--padder);
  padding-right: var(--padder);
  margin-left: auto;
  margin-right: auto;
 
}

.layout-wide-over1 {
  max-width: 100%;
  padding-left: var(--padder);
  padding-right: var(--padder);
  margin-left: auto;
  margin-right: auto;
  background: white;
  position: sticky;
  

  
  z-index: 1;

}

.layout-wide-outer {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding-bottom: 120pt;

/*-------confusing bit added in here ---------*/

}

.layout-mid {
  margin-bottom: var(--spacer-large);
  max-width: var(--area-mid);
  padding-left: var(--padder);
  padding-right: var(--padder);
  margin-left: auto;
  margin-right: auto;
}
/* -------------------------HEADER-----------------------------  */

header {
  background-color: var(--alternative-bg-color);
  padding-top: var(--padder);
}

header .layout-wide {
  overflow: hidden;
  margin-bottom: 0px;
}

.logo-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (min-width: 1030px) {
  .logo-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-title {
  font-family: var(--font-heading);
  font-size: var(--font-size-site-title);
  color: var(--alternative-text-color);

  float: right;
  width: 80%;
  text-align: right;
}

/* -------------------------NAVIGATION-----------------------------  */

.navigation {
  background-color: var(--alternative-bg-color);
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: var(--font-size-menu-nav)
}

.nav-prompt {
  width: 100%;
  background-color: var(--alternative-bg-color);
  padding-top: var(--smallspacer);  /*dddd*/
  padding-bottom: var(--smallspacer);   /*dddd*/
  color: var(--alternative-text-color);  
  border: none;
  border-top: 1px solid black;
}

.nav-inner {
  margin-bottom: 0px;  /*was 10*/
}

.nav-inner ul {
  padding: 0px;  /*was 10*/
  margin: 0px;
  list-style: none;
}

.nav-inner li {
  text-align: center;
}

.nav-inner a {
  color: var(--alternative-text-color);
  text-decoration: none;
  text-transform: uppercase;
  padding: var(--smallspacer) 1px;
  border-bottom: 5px solid var(--alternative-text-color);

  display: block;
}

.nav-inner a:hover {
  color: var(--error-color);
  border-bottom-color: currentColor;
}

@media screen and (min-width: 1030px) {
  .nav-prompt {
    display: none;
  }

  .navigation {
    padding: var(--padder) 20px;
  }

  .nav-inner ul {
    display: flex;
    justify-content: space-between;
  }

  .nav-inner a {
    border-bottom: 2px solid transparent;
  }
}


@media screen and (max-width: 1030px) {

    .nav-inner {
        overflow: hidden;
        transition: var(--transition-time);


    }

    .nav-inner[aria-expanded="false"] {
        max-height: 0;
    }

    .nav-inner[aria-expanded="true"] {
        max-height: 100vh;
    }

    
}

.nav-inner .active {
    border-bottom-color: currentColor;
    font-weight: bold;
}

.buttonlink {
    color: var(--alternative-text-color);

    background: var(--alternative-bg-color); 
    border-radius: 40px;
    padding: var(--spacer);
    border: none;
 
   padding: var(--smallspacer) 1px;
    /*border-bottom: 5px solid var(--alternative-text-color);*/
    transition: var(--transition-time);
    width: 240px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
}

.buttonlink a {
  
    color: var(--alternative-text-color);
    /*font-family: var(--font-heading);*/
    text-transform: uppercase;
    text-decoration: none;
    background: var(--alternative-bg-color); 
    
    padding: var(--spacer);
    border: none;
 
   padding: var(--smallspacer) 1px;
    border-bottom: 1px solid var(--alternative-bg-color);
    transition: var(--transition-time);
    width: 20%;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
  
}

.buttonlink a:hover {
  color: var(--error-color);
  border-bottom-color: currentColor;
}







/* -------------------------FOOTER-----------------------------  */

footer {
  background-color: var(--alternative-bg-color);
}

.footer-subscribe {
  background-color: var(--secondary-bg-color);
  padding-top: var(--spacer-medium);
  padding-bottom: var(--spacer-small);
  text-align: center;
}

.footer-gallery-shortcuts {
  background-color: var(--secondary-bg-color);
  padding-top: var(--spacer-medium);
  padding-bottom: var(--spacer-small);
  text-align: center;
}

.footer-notices {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
}

.footer-notices .layout-wide {
  margin-bottom: 0;
  text-align: center;
}

i.fab {
  color: var(--alternative-text-color); 


}


.copyright {
  color: white;
}

/* -------------------------FORMS-----------------------------  */

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  margin-bottom: var(--spacer);
  border: 1px solid var(--border-color);
  padding: 10px;
  width: 480px;
  max-width: 100%;
  border-radius: 4px;
}

input[type="submit"] {
  color: var(--alternative-text-color);
  font-family: var(--font-default);
  text-transform: uppercase;
  background: var(--alternative-bg-color);
  border-radius: 40px;
  padding: var(--spacer);
  border: none;

  transition: var(--transition-time);
}

input[type="submit"]:hover {
  background-color: var(--strong-text-color);
}

.indicates-required {
  margin-bottom: 10px;
}

/* -------------------------MODULES-----------------------------  */


@media screen and (min-width: 1030px) {
    
    .hero-module {
        position: relative;   
        /* position: sticky;*/
        top: -40px;
        z-index: 9;
               /* position: sticky;
        top: 0;
        z-index: 10;*/
    }

    .hero-module img {
        width: 100%;

    }

    .hero-content {
        position: absolute; 
        height: 50%;
        width: 100%;

        bottom: 0;

        display: flex;
        align-items: center;
    }

    .heading-main {
        color: var(--alternative-text-color); 
        text-shadow: 0px 1px 25px var(--strong-text-color);
    }


    .layout-wide img {
      width:100%
    }
}


/* --------------------grids------------------------ */

@media screen and (min-width: 800px) {
    .content-area-grid {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }
}


@media screen and (min-width: 800px) {
  .content-area-grid-2 {
      display: grid;
      grid-template-columns: 28% 28% 28%;
      justify-content: space-between;
  }
}

@media screen and (min-width: 800px) {
  .content-area-grid-3 {
      display: grid;
      grid-template-columns: 20% 20% 20% 20%;
      justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  .content-area-grid-3 {
      display: grid;
      grid-template-columns: 48% 48%;
      justify-content: space-between;
  }
}




/* --------------------image gallery------------------------ */


.image-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;


    overflow: hidden;
}


.image-gallery li {

    float: left;
    max-width: 150px;
    margin: 10px;
}


.image-gallery a img {

    filter: grayscale(20%); 
    transition: var(--transition-time);
    box-shadow: 0px 1px 10px var(--strong-text-color);

}

.image-gallery a:hover img {
    transform: scale(1.1);
    filter: unset;
}



@media screen and (min-width: 800px) {

  .image-gallery li {

    float: left;
    max-height: 250px;
    max-width: 250px;
    margin: 10px;
  }

}



/*-----------------image behaviour------------------*/




.hero-module {
  width: 100%;  overflow: hidden;
  position: sticky;

  top: 0;
  z-index: 1;
}




.hero-module-2 {
  width: 100%;  overflow: hidden;
  position: sticky;

  top: 0;
  z-index: 2;
}



.hero-module-3 {
  width: 100%;  overflow: hidden;
  position: sticky;

  top: 0;
  z-index: 2;
}



/*
.navigation {
  background-color: var(--alternative-bg-color);
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: var(--font-size-menu-nav)
}
*/

/* --------------------gallery index------------------------ */


.image-index ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 12;


  overflow: hidden;
}


.image-index li {

  float: left;
  max-width: 150px;
  margin: 10px;
}


.image-index a img {

  filter: grayscale(20%); 
  transition: var(--transition-time);
  box-shadow: 0px 1px 10px var(--strong-text-color);

}

.image-index a:hover img {
  transform: scale(1.1);
  filter: unset;
}


@media screen and (min-width: 800px) {

  .image-index li {

    float: left;
    max-width: 3000px;
    margin: 10px;
  }

}







/* --------------------gallery index footer------------------------ */


.image-index-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 12;

  overflow: hidden;
}


.image-index-footer li {

  float: left;
  max-width: 50px;
  margin: 10px;
  
}


.image-index-footer a img {

  filter: grayscale(20%); 
  transition: var(--transition-time);
  box-shadow: 0px 1px 10px var(--strong-text-color);

}

.image-index-footer a:hover img {
  transform: scale(1.1);
  filter: unset;
}


.image-index-footer a {
  text-decoration: #750088
}

@media screen and (min-width: 800px) {

  .image-index-footer li {

    float: left;
    
    max-width: 100px;
    margin: 10px;
  }

}



/* --------------------grid list pricelist------------------------ */


.content-area-grid-2 li {
  list-style: none;
  margin: -10px;
  padding: 0;
}

/* ----------------------- home page style links ----------------*/

.image-linker a img {

  filter: grayscale(2%); 
  transition: var(--transition-time);
  box-shadow: 0px 1px 10px var(--strong-text-color);

}

.image-linker a:hover img {
  transform: scale(1.1);
  filter: unset;
}




/* --------------------blog test stuff------------------------ */

/* page Content */
#content {
  display: block;
  clear: both;
  margin-bottom: 20px;
  min-height: 500px;
}

#left-sidebar {
  width: 35%;
  float: left;
  margin: 0 15px;
  background: #ccc; 
  min-height: 500px; 
  text-align: center;
}
#right {
  float: right;
  width: 62%;
  background: #efefef; 
  text-align: center;
  min-height: 500px;
}


/*---------------------------------- pricing table ----------------------- */

* {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: rgb(132, 34, 145);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 800px) {
  .columns {
    width: 100%;
  }
}



/*---------------pricing table-------------*/


th, td {
  padding: 2px;
  text-align: left;
}